body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header{
    background-color: #143d16;
    padding: 0.5rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 40px;
    margin-top: 20px;
}


.logo img{
    flex-shrink: 0;
   width: 80px;
   height: auto;
}

figcaption{
    flex: 1 1 auto;
    color: #f57c00;
    font-weight: bold;
    font-family: 'Segoe UI', 'Open Sans',  sans-serif;
}

strong{
    font-size: 20px;
}

.navigation ul{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
flex-direction: column;
  list-style: none; 
  padding: 0;
  margin-top: 10px ;

}


.navigation ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
}

.navigation ul li a:hover{
    background-color: #f57c00;
    color: #143d16;
    padding: 7px;
    border-radius: 30px;
}

h1{
    text-align: center;
    text-shadow: 0 0 30px #7f7c7c;
}

.hero{
    height: 100vh;
    background-image: url(../images/hero.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-color:#f57c00;
    z-index: 1;
    opacity: 0.7;
}

.hero-content{
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero h1{
    font-size: 3rem;

}

.hero p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn-link{
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    color: #f57c00;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #143d16;
    transition: background 0.3s ease;
}

.btn-link:hover{
    background-color: #ff4b4b;
    color: #ffffff;
}

footer{
    display: grid;;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: black;
    color: #ffffff;
}

.adress{
    margin-left: 10px;
    padding: 10px;
    line-height: 25px;
}


.media{
    flex-direction: column;
    margin-top: 50px;

}

.media a{
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #ffffff;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 100%;
}

#lastModified{
    margin-top: -15px;

}

.copyright{
    line-height: 25px;
    margin-left: 15px;
}

.active::after { 
	content: "📍";
}

button#menuButton {
    display: flex;
    
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
    border: none;
    color: #f57c00;
    position: absolute;
    top: 7px;
    right: 1rem;
}

button#menuButton::before {
    content: "\2261"; /* Hamburger Icon */ 
}

button#menuButton.open::before {
    content: "✖"; /* Close Icon */
    color: #f57c00;

}

.navigation {
    display: none;
    margin-top: 50px;
    flex-direction: column; 
    justify-content: center;
    gap: 1rem; 
}

.navigation.open{
    display: block;
}

#eventsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    margin: 0 auto;
     
}

.event-card {
    margin: 0 auto;
	padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
	background-color: #eee;
	border: 1px solid rgb(0 0 0 / 10%);
	display: flex;
    width: 90%;
	flex-direction: column;
	align-items: center;
    border-radius: 20px; 
}


.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #777;
    transition: box-shadow 0.3s ease;
}

.event-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 30px #777;
    border-radius: 10px;
    
}

.event-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.event-card p {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
}

.event-card a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ff4b4b;
    border-radius: 20px;
    width: 50%;

    
}

.event-card a:hover {
    text-decoration: underline;
    transition: background 3s ease;
}

#weather{
    background-color: #777;
    text-align: center;
    padding: 10px;
    margin: 0 auto;

}


.weather-flex {
    background-color: #eee;
    padding: 10px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


#current-temp{
    margin-left: 10px;
    font-size: 1.5rem;
}

#weather-icon {
    color: blue;
    margin-right: 50px;
    
}

#forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.forecast-day {
    width: 20%;
    background-color: #eee;
    padding: 10px;
    border-radius: 10%;
    margin: 0 5px;
    text-align: center;
}

#spotlights{
    background-color: #eee;
    margin-top: 20px;
    margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.spotlight-card {
    margin: 0 auto;
	padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
	background-color: #ece7e7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
	border: 1px solid rgb(0 0 0 / 10%);
	display: flex;
    width: 90%;
	flex-direction: column;
	align-items: center;
    border-radius: 20px; 
}

.spotlight-card:hover {
    transform: translateY(-10px);
    scale: 1.05;
    box-shadow: 0 0 30px #777;
    transition: box-shadow 0.3s ease;
}

.spotlight-card p{
    color: #3c3b3b;
    margin-top: -10px;
    padding: 12px;
    font-size: 20px;
    text-align: center;

}

.spotlight-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.spotlight-card .membership {
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    background-color: #ff4b4b;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 0 30px #777;
    align-items: center;
}

.display {
    text-align: center;
    margin: 20px 0;
}

.display button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #292828;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.display button:hover {
    background-color: #777;
    color: black;
}



#spotlights.list {
  display: flex;
  flex-direction: column;
}



.list div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    height: autopx;
    border: 0;
    padding: 0.25rem;
}

.list div > * {
    margin: 1rem;
    }

.list  div img {
    margin-top: -10px;
    width: 50%;
    height: auto;
    max-width: 200px;

 }

.list div h3 {
    font-size: 1rem;
    margin-top: 50px;
} 

 #spotlight.list div:nth-child(2) {
    background-color: #e0dddd
}

 #grid, #list  {
    display: none;
 }











@media (min-width:850px) {
     button#menuButton{
    display: none;
    }

     #grid, #list  {
    display: block;
    }

    .navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    margin-top: -20px;
    }
      
    .navigation ul {
        flex-direction: row;
         list-style: none;
         flex-wrap: wrap; 
        padding: 0;
        margin-right: 10%;
         margin-top: -50px;

    }

    .navigation ul a {
      flex: 1 1 auto; /* Correct usage */
    }

    .list {
     display: block;
   }

   .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    gap: 4px;
  }



}